#   Copyright 2020 Pokémon GO Nancy
#
#   Licensed under the Apache License, Version 2.0 (the "License");
#   you may not use this file except in compliance with the License.
#   You may obtain a copy of the License at
#
#       http://www.apache.org/licenses/LICENSE-2.0
#
#   Unless required by applicable law or agreed to in writing, software
#   distributed under the License is distributed on an "AS IS" BASIS,
#   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#   See the License for the specific language governing permissions and
#   limitations under the License.

# The server listening address
export SERVER_ADDR=:8080

# The Discord Bot token
export DISCORD_TOKEN=<DISCORD_TOKEN>

# The category where lobbies will be created
export RAID_CATEGORY_ID=0

# The category where channels commands will be listened
export RAID_CHANNEL_ID=0