#   Copyright 2020 Pokémon GO Nancy
#
#   Licensed under the Apache License, Version 2.0 (the "License");
#   you may not use this file except in compliance with the License.
#   You may obtain a copy of the License at
#
#       http://www.apache.org/licenses/LICENSE-2.0
#
#   Unless required by applicable law or agreed to in writing, software
#   distributed under the License is distributed on an "AS IS" BASIS,
#   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#   See the License for the specific language governing permissions and
#   limitations under the License.

# The Discord Bot token
export DISCORD_TOKEN=<token>

# The category used to create raid channels
export RAID_CATEGORY_ID=824336809030058005

# The channel where raid commands are listened
export RAID_CHANNEL_ID=824366359843569724